* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
    background-color: darkgoldenrod;
}

/* Menu */

.navbar {
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.nav-item {
    list-style: none;
}

.nav-item > a {
    text-decoration: none;
    font-size: 1.1em;
    color: black;
    text-transform: uppercase;
}

/* Au survol avec la souris, afficher le background */
.nav-item > a:hover {
    background-color: #009688;
}

/* Titre */

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Formulaire */

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.2em;
}

form input:not(.submit-btn) {
    margin-bottom: 10px;
    width: 60%;
    font-size: 1.1em;
    text-align: center;
    border: none;
    border-radius: 4px;
}

/* Retirer la bordure interne quand on écrit */
form input:focus-visible {
    outline: none;
}

.submit-btn {
    margin-bottom: 20px;
    padding: 5px;
    background-color: #009688;
    font-size: 1.1em;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* recap.php */

table {
    margin: 10px;
    padding: 10px;
    background-color: #009688;
    border-radius: 5px;
    /* border-collapse: collapse; */
    border: 1px solid grey;
}

.fa-trash-can {
    font-size: 1.5em;
    color: black;
    cursor: pointer;
}

td {
    padding: 17px;
    border: 2px solid grey;
}

.decrease-btn, .increase-btn {
    padding: 2px 5px;
    border: none;
    border-radius: 20%;
    font-size: 1.2em;
    cursor: pointer;
}

.qtt-form {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 1.5em;
}

/* Bouton supprimer : pas de background et pas de border */
.delete {
    background-color: transparent;
    border: none;
}






