* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
    background-color: darkgoldenrod;
}

/* Menu */

.navbar {
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.nav-item {
    list-style: none;
}

.nav-item > a {
    text-decoration: none;
    font-size: 1.1em;
    color: black;
    text-transform: uppercase;
}

/* Au survol avec la souris, afficher la souligne */
.nav-item > a:hover {
    text-decoration: underline;
}

/* Titre */

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Formulaire */

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.2em;
}

form input:not(.submit-btn) {
    margin-bottom: 10px;
    width: 60%;
    font-size: 1.1em;
    text-align: center;
    border: none;
    border-radius: 4px;
}

/* Retirer la bordure interne quand on écrit */
form input:focus-visible {
    outline: none;
}

.submit-btn {
    margin-bottom: 20px;
    padding: 5px;
    background-color: #009688;
    font-size: 1.1em;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* recap.php */

table {
    margin: 10px;
    padding: 10px;
    background-color: #009688;
    border-radius: 5px;
}

.fa-trash-can {
    font-size: 1.5em;
    color: black;
    cursor: pointer;
}





